body{
    position: relative;
}

#fixed{
    position: fixed;
    display: block;
    z-index: 200;
    left: 90%;
}

.modalhihi{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    background-color: white;
    max-width: 80%;
}

#myOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 200;
    display: none;

}
.modalhihi{
    display: none;
}
#modalPrem .show{
    display: block;
}